<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
    <add key="CDW Nexus Repository" value="https://tools.azr.cdw.com/nexus/repository/nuget-cdw-all/index.json" />
  </packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<disabledPackageSources>
  </disabledPackageSources>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
</configuration>
